<%= stylesheet_link_tag 'blogpost' %>

<div class="blog-post" >
    <button class="btn-edit" type="button"><%= link_to "Edit", edit_post_path(post.id) %></button>
    <button class="btn-delete" type="button">Delete</button>
    <h2><%= link_to post.title, show_post_path(post.id) %></h2>
    <p><%= post.body %></p>
</div>