<div class="navbar">
  <%= link_to "nelerVar?", root_path, class: "navbar-link-left" %>
  <div class="navbar-links-right">
    <a class="navbar-link-right" href="#search">New Post</a>
  </div>
</div>
