<div class="navbar">
  <a class="navbar-link-left" href="#home">nelerVar?</a>
  <div class="navbar-links-right">
    <a class="navbar-link-right" href="#search">New Post</a>
    <a class="navbar-link-right" href="#about">About</a>
  </div>
</div>
